In [10]:
import pandas as pd
import datetime as dt

In [7]:
df=pd.read_csv("Coffee Shop Sales.csv")
df.head(5)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [5]:
df.describe()

,transaction_id,transaction_qty,store_id,product_id,unit_price
count,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,1.438276,5.342063,47.918607,3.382219
std,43153.600016,0.542509,2.074241,17.930020,2.658723
min,1.000000,1.000000,3.000000,1.000000,0.800000
25%,37335.750000,1.000000,3.000000,33.000000,2.500000
50%,74727.500000,1.000000,5.000000,47.000000,3.000000
75%,112094.250000,2.000000,8.000000,60.000000,3.750000
max,149456.000000,8.000000,8.000000,87.000000,45.000000

In [6]:
df.isnull().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

In [13]:
df["transaction_date"] = pd.to_datetime(df["transaction_date"])

In [15]:
df["Week Day"] = df["transaction_date"].dt.strftime("%A")
df

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Week Day
0,1,2023-01-01,7:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg,Sunday
1,2,2023-01-01,7:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,Sunday
2,3,2023-01-01,7:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,Sunday
3,4,2023-01-01,7:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm,Sunday
4,5,2023-01-01,7:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...
149111,149452,2023-06-30,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg,Friday
149112,149453,2023-06-30,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg,Friday
149113,149454,2023-06-30,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,Friday
149114,149455,2023-06-30,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,Friday
149115,149456,2023-06-30,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup,Friday

In [22]:
df["time period"] = df['transaction_time'].apply(lambda x: "morning" if
                                                   6<= x.hour < 12
                                                  else("afternoon") if 12
                                                   <= x.hour <18 else"evening")

In [23]:
df.head(5)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Week Day,time period
0,1,2023-01-01,2024-10-09 07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,Sunday,morning
1,2,2023-01-01,2024-10-09 07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,Sunday,morning
2,3,2023-01-01,2024-10-09 07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,Sunday,morning
3,4,2023-01-01,2024-10-09 07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,Sunday,morning
4,5,2023-01-01,2024-10-09 07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,Sunday,morning

In [ ]:
### Which month has the highest sales
    ## Answer is: June

In [30]:
df.groupby(df["transaction_date"].dt.strftime("%m"))['transaction_qty'].sum()

transaction_date
01    24870
02    23550
03    30406
04    36469
05    48233
06    50942
Name: transaction_qty, dtype: int64

In [ ]:
### Which time of day are sales the most active
    ## Answer is: Morning

In [32]:
df.groupby(df["time period"])["transaction_qty"].sum()

time period
afternoon     76540
evening       20301
morning      117629
Name: transaction_qty, dtype: int64

In [ ]:
### Which store location has the highest number of sales
    ## Answer is: Hell's Kitchen

In [33]:
df.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail',
       'Week Day', 'time period'],
      dtype='object')

In [36]:
df.groupby(df["store_location"])["transaction_qty"].count()

store_location
Astoria            50599
Hell's Kitchen     50735
Lower Manhattan    47782
Name: transaction_qty, dtype: int64

In [ ]:
### What are the different product categories
    ## Answer is: 'Coffee', 'Tea', 'Drinking Chocolate', 'Bakery', 'Flavours',
       #'Loose Tea', 'Coffee beans', 'Packaged Chocolate', 'Branded'

In [39]:
df.product_category.unique()

array(['Coffee', 'Tea', 'Drinking Chocolate', 'Bakery', 'Flavours',
       'Loose Tea', 'Coffee beans', 'Packaged Chocolate', 'Branded'],
      dtype=object)

In [ ]:
### Which product category has the highest number of sales
    ## Answer is coffee

In [40]:
df.groupby("product_category")["transaction_qty"].sum()

product_category
Bakery                23214
Branded                 776
Coffee                89250
Coffee beans           1828
Drinking Chocolate    17457
Flavours              10511
Loose Tea              1210
Packaged Chocolate      487
Tea                   69737
Name: transaction_qty, dtype: int64

In [ ]:
### Which product type sells the most
    ## Answer is: Brewed Chai Tea

In [41]:
df.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail',
       'Week Day', 'time period'],
      dtype='object')

In [45]:
df.groupby("product_type")["transaction_qty"].count().sort_values(ascending=False)

product_type
Brewed Chai tea          17183
Gourmet brewed coffee    16912
Barista Espresso         16403
Hot chocolate            11468
Brewed Black tea         11350
Brewed herbal tea        11245
Scone                    10173
Organic brewed coffee     8489
Drip coffee               8477
Premium brewed coffee     8135
Pastry                    6912
Biscotti                  5711
Brewed Green tea          5671
Regular syrup             4979
Sugar free syrup          1811
Housewares                 526
Chai tea                   443
Organic Beans              415
Gourmet Beans              366
Premium Beans              336
Espresso Beans             319
Herbal tea                 305
Black tea                  303
Drinking Chocolate         266
Organic Chocolate          221
Clothing                   221
House blend Beans          183
Green tea                  159
Green beans                134
Name: transaction_qty, dtype: int64

In [ ]:
### What product is most active in mornings
    ## Answer is: Brewed Chai Tea

In [49]:
df.loc[df["time period"] == "morning"].groupby('product_type')["transaction_qty"].count().sort_values(ascending=False)

product_type
Brewed Chai tea          8997
Barista Espresso         8880
Gourmet brewed coffee    8841
Brewed Black tea         6024
Brewed herbal tea        6013
Hot chocolate            5955
Scone                    5756
Organic brewed coffee    4485
Drip coffee              4430
Pastry                   4384
Premium brewed coffee    4302
Regular syrup            3488
Biscotti                 3217
Brewed Green tea         3006
Sugar free syrup         1210
Housewares                322
Chai tea                  289
Organic Beans             267
Premium Beans             233
Gourmet Beans             232
Espresso Beans            227
Herbal tea                212
Drinking Chocolate        188
Black tea                 188
Clothing                  139
Organic Chocolate         134
House blend Beans         130
Green tea                 108
Green beans                94
Name: transaction_qty, dtype: int64

In [ ]:
### what product is most active in the afternoons
    ## Answer is: Gourmet brewed coffee

In [50]:
df.loc[df["time period"] == "afternoon"].groupby('product_type')["transaction_qty"].count().sort_values(ascending=False)

product_type
Gourmet brewed coffee    6406
Brewed Chai tea          6372
Barista Espresso         5944
Hot chocolate            4374
Brewed herbal tea        4158
Brewed Black tea         4130
Scone                    3526
Organic brewed coffee    3173
Drip coffee              3135
Premium brewed coffee    3059
Brewed Green tea         2135
Biscotti                 2004
Pastry                   1970
Regular syrup            1205
Sugar free syrup          478
Housewares                161
Chai tea                  116
Organic Beans             115
Gourmet Beans             106
Premium Beans              81
Herbal tea                 79
Organic Chocolate          79
Black tea                  79
Clothing                   61
Espresso Beans             57
Drinking Chocolate         53
Green tea                  42
House blend Beans          40
Green beans                34
Name: transaction_qty, dtype: int64

In [ ]:
### What product is most active in the evening
    ## Answer is: Brewed Chai Tea

In [52]:
df.loc[df["time period"] == "evening"].groupby('product_type')["transaction_qty"].count().sort_values(ascending=False)

product_type
Brewed Chai tea          1814
Gourmet brewed coffee    1665
Barista Espresso         1579
Brewed Black tea         1196
Hot chocolate            1139
Brewed herbal tea        1074
Drip coffee               912
Scone                     891
Organic brewed coffee     831
Premium brewed coffee     774
Pastry                    558
Brewed Green tea          530
Biscotti                  490
Regular syrup             286
Sugar free syrup          123
Housewares                 43
Chai tea                   38
Black tea                  36
Espresso Beans             35
Organic Beans              33
Gourmet Beans              28
Drinking Chocolate         25
Premium Beans              22
Clothing                   21
Herbal tea                 14
House blend Beans          13
Green tea                   9
Organic Chocolate           8
Green beans                 6
Name: transaction_qty, dtype: int64

In [ ]:
### What day of the week is most active
    ## Answer is: Monday

In [54]:
df.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail',
       'Week Day', 'time period'],
      dtype='object')

In [56]:
df.groupby("Week Day")["transaction_qty"].sum().sort_values(ascending=False)

Week Day
Monday       31231
Friday       31207
Thursday     31162
Wednesday    30625
Tuesday      30449
Sunday       30182
Saturday     29614
Name: transaction_qty, dtype: int64